<div class="row">
  <div class="col-md-4 mx-auto text-center">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name, placeholder: 'Enter your name', placeholder_html: { class: 'text-center'} %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>