<div class="jumbotron">
  <h1 class="display-4">
    Private Events
  </h1>
  <p class="lead">
    Sign up Or Login To See the events in the area!
  </p>
  <hr class="my-4">
  <p>
    Check the events around here, create your own events and assists to your friends events!
  </p>
  <%= home_buttons %>
</div>